name: Build Typst document (CI)
on: 
  push:
    paths: 
    - '.github/workflows/build.yaml'
    - 'Material/**/*.typ'
    - 'Material/**/*.yaml'
    - 'Material/**/*.toml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
     
      - name: Delete samples and test
        run: |
          rm -rf ./Material/*.pdf
      
      - uses: typst-community/setup-typst@v4

      - name: Compile Typst examples to PDF
        shell: bash
        run: |
          find ./Material -type f -name "*.typ" | while read -r archivo; do
              echo "Compilando: $archivo"
              typst compile "$archivo" --root . --input show-solutions=true || echo "Error en $archivo, continuando..."
          done

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: Material
          path: ./Material/**/*.pdf
